.body .content
{
	float: right;
	clear: none;
	width: calc(100% - 220px);
	margin-left: 10px;
	margin-right: 10px;
}

.full-width-content{
	width: calc(100% - 20px) !important;

	
	-webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 0.4s; /* Safari */
    -webkit-transition-delay: 0.8s; /* Safari */
    transition-property: width;
    transition-duration: 0.4s;
    transition-delay: 0.8s;
	
	
}
.wide-width-content{
	width: calc(100% - 68px) !important;
}

.body .content h1
{
	margin-top: 0px;
}




.content-header{
	width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	vertical-align: middle; 
	font-size: 14px;
}
.content-header-left{
	float: left;
	clear: none;
}
.content-header-right{
	float: right;
	clear: none;
}

.content-header a{
	color: inherit;
    text-decoration: none;
}
.info-header{
	background-color: #FFFFFF;
	display: none;
	height: 120px;
	font-size: 14px;
}
.header-psp-logo{
	padding: 10px;
	padding-top: 20px;
	height: 60px;
	width: 60px;
	max-width: 180px;
	float: left;
	clear: none;

}
.header-producten{
	padding-top: 8px;
	float: left;
	clear: none;
	padding-left: 10px;
	width: 125px;

}
.header-config-dashboard{
	padding-top: 8px;
	float: left;
	clear: none;
	padding-left: 10px;
	min-width: calc((100% - 205px) / 3);

}
.header-support{
	padding-top: 8px;
	float: left;
	clear: none;
	padding-left: 10px;
	min-width: calc((100% - 205px) / 3);
}




.content-section{
	width: 100%;
}

.content-row{
	
	width: 100%;
}

.content-col{
	float:	left;
	clear:	none;
	
}


.topWidgetContainer
{
	margin-bottom: 10px;
}

.pspInfoContainer
{
	margin-bottom: 10px;
}


.content-row-upper{
	margin-bottom: 10px;
	height: 140px;
	overflow: hidden;
}
.content-row-upper .content-col{
	background-color: #D8D8D8;
	height: 140px;
	margin-top: 0px;
	width: calc(100% / 4);
	border-right: 2px solid #EDEDED;
	
}
.content-row-upper .content-col:nth-of-type(4){
	border-right: 0px;
}



.content-row-lower
{
}

.content-row-lower .content-col{
	width: calc((100% / 2) - 5px);
	margin-right: 10px;
}
.content-row-lower .content-col:nth-of-type(2){
	margin-right: 0px;
}
.content-bigCol{
	overflow: hidden;
	opacity: 1;
	margin-bottom: 10px;
	width: 100%;
	min-height: 40px;
	background-color: GREY;
	border-radius: 4px;
}
.content-bigCol:empty{
	opacity: 0.2;
}


.lowerWidgetContent
{
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

