.infoDialog{
	overflow-y: scroll;
	position: fixed;
    height: calc(100% - 82px);
	z-index: 1;
	width: 400px;
	max-width: 100%;
	top:	50px;
	right:	0px;
	background-color: #333333;
	padding: 10px;
}

.infoDialog::-webkit-scrollbar {
    width: 0px;
}

.info-section-title
{
	color: white;
	margin-bottom: 10px;
}

#headerInfoAccordion
{
	margin-left: 2px;
	margin-right: 2px;
}

.infoDialog .ui-state-active
{
	border: 1px solid var(--banding-color);
}

.infoDialog .ui-state-hover
{
	border: 2px solid var(--banding-color);
	background: #ffffff;
}
.infoDialog .ui-state-focus
{
	border: 1px solid var(--banding-color);
	background: #ffffff;
}

.infoDialog .ui-accordion-header-active
{
	color: var(--banding-color);
}

.infoDialog .ui-icon-triangle-1-e
{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.infoDialog .ui-icon-triangle-1-s
{
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
}

.infoDialog .ui-accordion .ui-accordion-content
{
	padding: 10px;
}
