.lowerWidgetContent.contactFormContent
{
	padding-bottom: 0px;
}

#contactForm{
	background-color: WHITE;
	border-radius: 4px 4px 0px 0px;
}

.contactFormTopDeco
{
	background-color: var(--banding-color);
}

.contactFormContent table
{
	width: 100%
}

.contactFormField
{
	height: 32px;
	width: calc(100% - 24px);
	padding: 0px 12px;
	margin-bottom: 10px;
    border-color: #d2d6de;
	font-size: 14px;
	border: 1px solid #ccc;
}

.contactFormSubmitBtn
{
	width: 80px;
	height: 30px;
	font-size: 12px;
	background-color: #00C0EF;
	border: solid #00acd6 1px;
	color: white;
	float: right;
	clear: none;
	margin: 10px 0px 10px 0px;
}
.contactFormResetBtn
{
	color: #686868;
	width: 80px;
	height: 30px;
	font-size: 12px;
	background-color: #EDEDED;
	border: solid #CCCCCC 1px;
	margin: 10px 0px 10px 0px;
}

#contactFormToolbar,
  textarea {
    width: calc(100% - 20px);
	height: 32px;
	line-height: 32px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  textarea {
    height: 280px;
    border: 2px solid var(--banding-color);
    font-family: Verdana;
    font-size: 11px;
}
  
.contactFormEditIcon{
	height: 32px;
	float: left;
}

.wysihtml5-command-active .contactFormEditIcon{
	height: 18px;
	border: 1px solid blue;
	border-radius: 2px;
}

.wysiwyg-font-size-smaller {
  font-size: smaller;
}

.wysiwyg-font-size-larger {
  font-size: larger;
}

.wysiwyg-font-size-xx-large {
  font-size: xx-large;
}

.wysiwyg-font-size-x-large {
  font-size: x-large;
}

.wysiwyg-font-size-large {
  font-size: large;
}

.wysiwyg-font-size-medium {
  font-size: medium;
}

.wysiwyg-font-size-small {
  font-size: small;
}

.wysiwyg-font-size-x-small {
  font-size: x-small;
}

.wysiwyg-font-size-xx-small {
  font-size: xx-small;
}

.wysiwyg-color-black {
  color: black;
}

.wysiwyg-color-silver {
  color: silver;
}

.wysiwyg-color-gray {
  color: gray;
}

.wysiwyg-color-white {
  color: white;
}

.wysiwyg-color-maroon {
  color: maroon;
}

.wysiwyg-color-red {
  color: red;
}

.wysiwyg-color-purple {
  color: purple;
}

.wysiwyg-color-fuchsia {
  color: fuchsia;
}

.wysiwyg-color-green {
  color: green;
}

.wysiwyg-color-lime {
  color: lime;
}

.wysiwyg-color-olive {
  color: olive;
}

.wysiwyg-color-yellow {
  color: yellow;
}

.wysiwyg-color-navy {
  color: navy;
}

.wysiwyg-color-blue {
  color: blue;
}

.wysiwyg-color-teal {
  color: teal;
}

.wysiwyg-color-aqua {
  color: aqua;
}

.wysiwyg-text-align-right {
  text-align: right;
}

.wysiwyg-text-align-center {
  text-align: center;
}

.wysiwyg-text-align-left {
  text-align: left;
}

.wysiwyg-text-align-justify {
  text-align: justify;
}

.wysiwyg-float-left {
  float: left;
  margin: 0 8px 8px 0;
}

.wysiwyg-float-right {
  float: right;
  margin: 0 0 8px 8px;
}

.wysiwyg-clear-right {
  clear: right;
}

.wysiwyg-clear-left {
  clear: left;
}
